# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# IDE
.idea/
*.iml
.vscode/

# O modelo real pode ser grande e/ou proprietário.
# Remova esta regra se quiser versioná-lo.
assets/models/*.tflite
